@model BusinessCredit.LoanManagementSystem.Web.Models.RePlanLoanModel

@{
    ViewBag.Title = "RePlanLoan";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>RePlanLoan</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>RePlanLoanModel</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.LoanID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoanID)
                @Html.ValidationMessageFor(model => model.LoanID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoanAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoanAmount)
                @Html.ValidationMessageFor(model => model.LoanAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DailyInterestRate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DailyInterestRate)
                @Html.ValidationMessageFor(model => model.DailyInterestRate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoanTermDays, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoanTermDays)
                @Html.ValidationMessageFor(model => model.LoanTermDays)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoanStartDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoanStartDate)
                @Html.ValidationMessageFor(model => model.LoanStartDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.branch, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.branch)
                @Html.ValidationMessageFor(model => model.branch)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
