@model IEnumerable<BusinessCredit.LoanManagementSystem.Web.Models.PaymentsReportViewModel>

@{
    ViewBag.Title = "შემოსავლის ანალიზი";
}

<h2>IncomeAnalize</h2>

<h2>Index</h2>

<script>
    function redirectDaily() {
        window.location.href = "?from=" + fromDate.value + "&" + "to=" + toDate.value;
    }
</script>

<input type="date" id="fromDate" />
<input type="date" id="toDate" />

<button onclick="redirectDaily()" type="button">Go</button>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayableInterest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccruingPenaltyPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccruingInterestPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentInterestPayment)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.PayableInterest)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.AccruingPenaltyPayment)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.AccruingInterestPayment)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.CurrentInterestPayment)
            </th>
        </tr>
    }


    <tr class="spaceUnder"></tr>

    <tr>
        <th>
            Grand Total:
        </th>
        <th>
            @Model.Sum(model => model.PayableInterest)
        </th>
        <th>
            @Model.Sum(model => model.AccruingPenaltyPayment)
        </th>
        <th>
            @Model.Sum(model => model.AccruingInterestPayment)
        </th>
        <th>
            @Model.Sum(model => model.CurrentInterestPayment)
        </th>
    </tr>
</table>
