@model IEnumerable<BusinessCredit.LoanManagementSystem.Web.Models.LoanIssueReportModel>

@{
    ViewBag.Title = "სესხის გაცემების რეპორტი";
}

<h2>სესხის გაცემების რეპორტი</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).LoanStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).LoanAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).LoanCount)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoanStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanCount)
        </td>
    </tr>
}

    <tr>
        <th>
            Grand Total:
        </th>
        <th>
            @Model.Sum(l => l.LoanAmount)
        </th>
        <th>
            @Model.Sum(l => l.LoanCount)
        </th>
    </tr>

</table>
