@model IEnumerable<BusinessCredit.LoanManagementSystem.Web.Models.LoanIssueReportModel>

@{
    ViewBag.Title = "სესხის გაცემების რეპორტი";
}

<h3>სესხის გაცემების რეპორტი</h3>

<style>
    #monthsContainer li {
        border-right: 1px solid #ffffff;
        width: 260px;
        float: left;
    }
</style>
                      <br />

<ul id="monthsContainer">
    <li>
        <input type="checkbox" value="1"  id="cbxJanuary"   />
        <label>იანვარი</label>
    </li>
    <li>
        <input type="checkbox" value="2"  id="cbxFebruary"  />
        <label>თებერვალი</label>
    </li>
    <li>
        <input type="checkbox" value="3"  id="cbxMarch"     />
        <label>მარტი</label>
    </li>
    <li>
        <input type="checkbox" value="4"  id="cbxApril"     />
        <label>აპრილი</label>
    </li>
    <li>
        <input type="checkbox" value="5"  id="cbxMay"       />
        <label>მაისი</label>
    </li>
    <li>
        <input type="checkbox" value="6"  id="cbxJune"      />
        <label>ივნისი</label>
    </li>
    <li>
        <input type="checkbox" value="7"  id="cbxJuly"      />
        <label>ივლისი</label>
    </li>
    <li>
        <input type="checkbox" value="8"  id="cbxAugust"    />
        <label>აგვისტო</label>
    </li>
    <li>
        <input type="checkbox" value="9"  id="cbxSeptember" />
        <label>სექტემბერი</label>
    </li>
    <li>
        <input type="checkbox" value="10" id="cbxOctober"   />
        <label>ოქტომბერი</label>
    </li>
    <li>
        <input type="checkbox" value="11" id="cbxNovember"  />
        <label>ნოემბერი</label>
    </li>
    <li>
        <input type="checkbox" value="12" id="cbxDecember"  />
        <label>დეკემბერი</label>
    </li>
</ul>

<select name="yearpicker" style="margin:20px; min-width:60px" id="yearpicker" class="dropdown"></select>

<button onclick="redirectDaily()" type="button" class="btn btn-primary btn-lg">Go</button>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).LoanStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).LoanAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).LoanCount)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoanStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanCount)
        </td>
    </tr>
}

    <tr>
        <th>
            Grand Total:
        </th>
        <th>
            @Model.Sum(l => l.LoanAmount)
        </th>
        <th>
            @Model.Sum(l => l.LoanCount)
        </th>
    </tr>

</table>

<script type="text/javascript">
    function redirectDaily() {
        var monthlist = [];
        for (var i = 0; i < $('#monthsContainer :checkbox').length; i++) {
            if ($('#monthsContainer :checkbox')[i].checked) {
                monthlist.push($('#monthsContainer :checkbox')[i].value);
            }
        }

        var location = "?months=";

        for (var i = 0; i < monthlist.length; i++) {
            location += monthlist[i];
            if (i + 1 != monthlist.length) {
                location += "&months=";
            }
        }

        location += "&year=" + yearpicker.childNodes[yearpicker.selectedIndex].value;

        window.location.href = location;
    }

    for (i = new Date().getFullYear() ; i > 2010; i--) {
        var child = document.createElement('option');
        child.textContent = i;
        yearpicker.appendChild(child);
        //$('#yearpicker').append($('<option />').val(i).html(i));
    }
</script>
