@model BusinessCredit.Domain.Payment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaxOrderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxOrderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PaymentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
