@model BusinessCredit.Domain.Account
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrapTable")
@Scripts.Render("~/bundles/tableExport")



<script>
    function actionFormatter(value, row, index) {
        return [
            '<a class="like" href="javascript:void(0)" title="Edit" style="margin: 5px">',
            'სესხები',
            '</a>',
            '<a class="edit ml10" href="javascript:void(0)" title="Edit" style="margin: 5px">',
            'რედაქტირება',
            '</a>',
        ].join('');
    }

    window.actionEvents = {
        'click .like': function (e, value, row, index) {
            window.location.href = "@Url.Action("Index", "Loans")?AccountId=" + row.AccountID;
        },
        'click .edit': function (e, value, row, index) {
            window.location.href = "@Url.Action("Edit")/" + row.AccountID;
        }
    };
</script>

<h2>კლიენტები</h2>

<p>
    @Html.ActionLink("დამატება", "Create")
</p>


<table data-toggle="table" data-show-export="true" data-search="true" data-pagination="true" data-show-refresh="true" data-show-columns="true" data-url="@Url.Action("IndexJson")">
    <thead>
        <tr class="filters">
            <th data-field="AccountID">
                @Html.DisplayNameFor(model => model.AccountID)
            </th>
            <th data-field="Name">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th data-field="LastName">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th data-field="PrivateNumber">
                @Html.DisplayNameFor(model => model.PrivateNumber)
            </th>
            <th data-field="Gender">
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th data-field="Status">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th data-field="PhysicalAddress">
                @Html.DisplayNameFor(model => model.PhysicalAddress)
            </th>
            <th data-field="NumberMobile">
                @Html.DisplayNameFor(model => model.NumberMobile)
            </th>
            <th data-field="AccountNumber">
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th data-field="BusinessPhysicalAddress">
                @Html.DisplayNameFor(model => model.BusinessPhysicalAddress)
            </th>
            <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents"></th>
        </tr>
    </thead>
</table>
