@model IEnumerable<BusinessCredit.Domain.Payment>

@{
    ViewBag.Title = "გადახდების რეპორტი";
}

<style>
    tr .spaceUnder{
        padding-bottom: 100em;
    }
</style>

<h2>Index</h2>

<script>
    function redirectDaily() {
        window.location.href = "?displayDate=" + displayDate.value + "&branch=" + cbxBranches.selectedIndex;
    }
</script>

                      <select id="cbxBranches">
                          <option value="Central">ცენტრალური</option>
                          <option value="Isani">ისანი</option>
                          <option value="Okriba">ოკრიბა</option>
                          <option value="Lilo">ლილო</option>
                          <option value="Eliava">ელიავა</option>
                          <option value="Vagzali">ვაგზალი</option>
                      </select>

<input type="date" id="displayDate" />

<button onclick="redirectDaily()" type="button">Go</button>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaxOrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccruingInterestPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccruingOverdueInterest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccruingOverduePrincipal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccruingPenaltyPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccruingPrincipalPayment)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Branch)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentDebt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentInterestPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentOverdueInterest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentOverduePrincipal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentPenalty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentPrincipalPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidInterest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidPenalty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidPrincipal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayableInterest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayablePrincipal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlannedBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrincipalPrepaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrincipalPrepaymant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartingBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartingPlannedBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WholeDebt)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaxOrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanBalance)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.AccruingInterestPayment)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.AccruingOverdueInterest)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.AccruingOverduePrincipal)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.AccruingPenaltyPayment)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.AccruingPrincipalPayment)
            </th>
            <th>
                @*@Html.DisplayFor(modelItem => item.Branch.BranchName)*@
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.CurrentDebt)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.CurrentInterestPayment)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.CurrentOverdueInterest)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.CurrentOverduePrincipal)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.CurrentPenalty)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.CurrentPrincipalPayment)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.LoanStatus)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.PaidInterest)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.PaidPenalty)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.PaidPrincipal)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.PayableInterest)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.PayablePrincipal)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.PlannedBalance)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.PrincipalPrepaid)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.PrincipalPrepaymant)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.StartingBalance)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.StartingPlannedBalance)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.WholeDebt)
            </th>
        </tr>
    }


    <tr class="spaceUnder"></tr> 

    <tr>
        <th>
            ----
        </th>
        <th>
            @Model.Sum(model => model.CurrentPayment)
        </th>
        <th>
            ----
        </th>
        <th>
            @Model.Sum(model => model.LoanBalance)
        </th>
        <th>
            @Model.Sum(model => model.AccruingInterestPayment)
        </th>
        <th>
            @Model.Sum(model => model.AccruingOverdueInterest)
        </th>
        <th>
            @Model.Sum(model => model.AccruingOverduePrincipal)
        </th>
        <th>
            @Model.Sum(model => model.AccruingPenaltyPayment)
        </th>
        <th>
            @Model.Sum(model => model.AccruingPrincipalPayment)
        </th>
        <th>
            ----
        </th>
        <th>
            @Model.Sum(model => model.CurrentDebt)
        </th>
        <th>
            @Model.Sum(model => model.CurrentInterestPayment)
        </th>
        <th>
            @Model.Sum(model => model.CurrentOverdueInterest)
        </th>
        <th>
            @Model.Sum(model => model.CurrentOverduePrincipal)
        </th>
        <th>
            @Model.Sum(model => model.CurrentPenalty)
        </th>
        <th>
            @Model.Sum(model => model.CurrentPrincipalPayment)
        </th>
        <th>
            ----
        </th>
        <th>
            @Model.Sum(model => model.PaidInterest)
        </th>
        <th>
            @Model.Sum(model => model.PaidPenalty)
        </th>
        <th>
            @Model.Sum(model => model.PaidPrincipal)
        </th>
        <th>
            @Model.Sum(model => model.PayableInterest)
        </th>
        <th>
            @Model.Sum(model => model.PayablePrincipal)
        </th>
        <th>
            @Model.Sum(model => model.PlannedBalance)
        </th>
        <th>
            @Model.Sum(model => model.PrincipalPrepaid)
        </th>
        <th>
            @Model.Sum(model => model.PrincipalPrepaymant)
        </th>
        <th>
            @Model.Sum(model => model.StartingBalance)
        </th>
        <th>
            @Model.Sum(model => model.StartingPlannedBalance)
        </th>
        <th>
            @Model.Sum(model => model.WholeDebt)
        </th>
    </tr>
</table>


<script>
    if (localStorage.getItem('branchID') != null) {
        cbxBranches.selectedIndex = localStorage.getItem('branchID');
    }
</script>