@model BusinessCredit.Domain.Loan

@{
    ViewBag.Title = "სესხები";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrapTable")
@Scripts.Render("~/bundles/tableExport")

<h2>სესხები</h2>

<p>
    @Html.ActionLink("დამატება", "Create")
</p>

<script>
    function actionFormatter(value, row, index) {
        return [
            '<a class="like" href="javascript:void(0)" title="Edit" style="margin: 5px">',
            'სესხები',
            '</a>',
            '<a class="edit ml10" href="javascript:void(0)" title="Edit" style="margin: 5px">',
            'რედაქტირება',
            '</a>',
        ].join('');
    }

    window.actionEvents = {
        'click .like': function (e, value, row, index) {
            window.location.href = "@Url.Action("Index", "Loans")?AccountId=" + row.AccountID;
        },
        'click .edit': function (e, value, row, index) {
            window.location.href = "@Url.Action("Edit")/" + row.AccountID;
        }
    };
</script>


<script>
    function operateFormatter(value, row, index) {
        return [
            '<a href="#myModal" id="openBtn" data-toggle="modal">',
            'თავდებები',
            '</a>',
        ].join('');
    }

    window.operateEvents = {
        'click #openBtn': function (e, value, row, index) {
            $(tblGrid).bootstrapTable('refresh', { url: '@Url.Action("GuarantorsJson", "Loans")?loanId=' + row.LoanID });
        }
    };

    //window.operateEvents = {
    //    'click .like': function (e, value, row, index) {
    //        alert('You click like icon, row: ' + JSON.stringify(row));
    //        console.log(value, row, index);
    //    },
    //    'click .edit': function (e, value, row, index) {
    //        alert('You click edit icon, row: ' + JSON.stringify(row));
    //        console.log(value, row, index);
    //    },
    //    'click .remove': function (e, value, row, index) {
    //        alert('You click remove icon, row: ' + JSON.stringify(row));
    //        console.log(value, row, index);
    //    }
    //};
</script>



<table id="table" data-show-export="true" data-toggle="table" data-search="true" data-pagination="true" data-show-refresh="true" data-show-columns="true" data-url="@Url.Action("IndexJson", new { AccountId = ViewData["AccountId"] })">
    <thead>
        <tr class="filters">
            <th data-field="AccountName">
                @Html.DisplayNameFor(model => model.Account.Name)
                <i class="icon-filter filterable editable editable-click editable-empty" data-name="0" title="Enter filter for Make"></i>
            </th>
            <th data-field="AccountLastName">
                @Html.DisplayNameFor(model => model.Account.LastName)
            </th>
            <th data-field="AccountPrivateNumber">
                @Html.DisplayNameFor(model => model.Account.PrivateNumber)
            </th>
            <th data-field="AccountGender">
                @Html.DisplayNameFor(model => model.Account.Gender)
            </th>
            <th data-field="AccountStatus">
                @Html.DisplayNameFor(model => model.Account.Status)
            </th>
            <th data-field="AccountPhysicalAddress">
                @Html.DisplayNameFor(model => model.Account.PhysicalAddress)
            </th>
            <th data-field="BranchID">
                ფილიალის #
            </th>
            <th data-field="BranchName">
                ფილიალი
            </th>
            <th data-field="AccountBusinessPhysicalAddress">
                @Html.DisplayNameFor(model => model.Account.BusinessPhysicalAddress)
            </th>
            <th data-field="AccountNumberMobile">
                @Html.DisplayNameFor(model => model.Account.NumberMobile)
            </th>
            <th data-field="AccountAccountNumber">
                @Html.DisplayNameFor(model => model.Account.AccountNumber)
            </th>
            <th data-field="GuarantorName" data-formatter="operateFormatter" data-events="operateEvents">
                თავდებები
            </th>
            <th data-field="AccountAccountID">
                @Html.DisplayNameFor(model => model.Account.AccountID)
            </th>
            <th data-field="LoanID">
                სესხის #
            </th>
            <th data-field="Agreement">
                @Html.DisplayNameFor(model => model.Agreement)
            </th>
            <th data-field="LoanStatus">
                @Html.DisplayNameFor(model => model.LoanStatus)
            </th>
            <th data-field="LoanNotificationLetter">
                @Html.DisplayNameFor(model => model.LoanNotificationLetter)
            </th>
            <th data-field="ProblemManagerDate">
                @Html.DisplayNameFor(model => model.ProblemManagerDate)
            </th>
            <th data-field="ProblemManager">
                @Html.DisplayNameFor(model => model.ProblemManager)
            </th>
            <th data-field="DateOfEnforcement">
                @Html.DisplayNameFor(model => model.DateOfEnforcement)
            </th>
            <th data-field="CourtAndEnforcementFee">
                @Html.DisplayNameFor(model => model.CourtAndEnforcementFee)
            </th>
            <th data-field="CreditExpertID">
                ექსპ. #
            </th>
            <th data-field="CreditExpertName">
                ექსპ. სახელი
            </th>
            <th data-field="CreditExpertLastName">
                ექსპ. გვარი
            </th>
            <th data-field="LoanAmount">
                @Html.DisplayNameFor(model => model.LoanAmount)
            </th>
            <th data-field="LoanPurpose">
                @Html.DisplayNameFor(model => model.LoanPurpose)
            </th>
            <th data-field="LoanDailyInterestRate">
                @Html.DisplayNameFor(model => model.LoanDailyInterestRate)
            </th>
            <th data-field="LoanTermDays">
                @Html.DisplayNameFor(model => model.LoanTermDays)
            </th>
            <th data-field="NetworkDays">
                @Html.DisplayNameFor(model => model.NetworkDays)
            </th>
            <th data-field="DaysOfGrace">
                @Html.DisplayNameFor(model => model.DaysOfGrace)
            </th>
            <th data-field="LoanPenaltyRate">
                @Html.DisplayNameFor(model => model.LoanPenaltyRate)
            </th>
            <th data-field="EffectiveInterestRate">
                @Html.DisplayNameFor(model => model.EffectiveInterestRate)
            </th>
            <th data-field="AmountToBePaidAll">
                @Html.DisplayNameFor(model => model.AmountToBePaidAll)
            </th>
            <th data-field="AmountToBePaidDaily">
                @Html.DisplayNameFor(model => model.AmountToBePaidDaily)
            </th>
            <th data-field="AgreementDate">
                @Html.DisplayNameFor(model => model.AgreementDate)
            </th>
            <th data-field="LoanStartDate">
                @Html.DisplayNameFor(model => model.LoanStartDate)
            </th>
            <th data-field="LoanEndDate">
                @Html.DisplayNameFor(model => model.LoanEndDate)
            </th>
</tr>
    </thead>
</table>



<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
                <h5 class="text-center">თავდებები</h5>
                <table  data-toggle="table" class="table table-striped" id="tblGrid">
                    <thead id="tblHead">
                        <tr>
                            <th data-field="GuarantorName">
                                თავდ. სახელი
                            </th>
                            <th data-field="GuarantorLastName">
                                თავდ. გვარი
                            </th>
                            <th data-field="GuarantorPrivateNumber">
                                თავდ. პ/ნ
                            </th>
                            <th data-field="GuarantorPhysicalAddress">
                                თავდ. ფიზ. მისამ.
                            </th>
                            <th data-field="GuarantorPhoneNumber">
                                თავდ. ტელ.
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
            </div>

    </div><!-- /.modal-dialog -->
</div>

<style>
    .modal-content {
        margin-left: -40%; /* width/2) */
    }
</style>



<script>
    $(table).filterable();

    $('#modal').on('show.bs.modal', function () {
        $(this).find('.modal-body').css({
            width: 'auto' //probably not needed
        });
    });
</script>
