@model BusinessCredit.Domain.Loan

@{
    ViewBag.Title = "სესხები";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrapTable")
@Scripts.Render("~/bundles/tableExport")

<h2>სესხები</h2>

<p>
    @Html.ActionLink("დამატება", "Create")
</p>

<script>
    function actionFormatter(value, row, index) {
        return [
            '<a class="like" href="javascript:void(0)" title="Edit" style="margin: 5px">',
            'სესხები',
            '</a>',
            '<a class="edit ml10" href="javascript:void(0)" title="Edit" style="margin: 5px">',
            'რედაქტირება',
            '</a>',
        ].join('');
    }

    window.actionEvents = {
        'click .like': function (e, value, row, index) {
            window.location.href = "@Url.Action("Index", "Loans")?AccountId=" + row.AccountID;
        },
        'click .edit': function (e, value, row, index) {
            window.location.href = "@Url.Action("Edit")/" + row.AccountID;
        }
    };
</script>




<table id="table" data-show-export="true" data-toggle="table" data-search="true" data-pagination="true" data-show-refresh="true" data-show-columns="true" data-url="@Url.Action("IndexJson")">
    <thead>
        <tr class="filters">
            <th data-field="AccountName">
                @Html.DisplayNameFor(model => model.Account.Name)
                <i class="icon-filter filterable editable editable-click editable-empty" data-name="0" title="Enter filter for Make"></i>
            </th>
            <th data-field="AccountLastName">
                @Html.DisplayNameFor(model => model.Account.LastName)
            </th>
            <th data-field="AccountPrivateNumber">
                @Html.DisplayNameFor(model => model.Account.PrivateNumber)
            </th>
            <th data-field="AccountNumberMobile">
                @Html.DisplayNameFor(model => model.Account.NumberMobile)
            </th>
            <th data-field="AccountAccountNumber">
                @Html.DisplayNameFor(model => model.Account.AccountNumber)
            </th>
            <th>
                თავდები
            </th>
            <th data-field="AccountAccountID">
                @Html.DisplayNameFor(model => model.Account.AccountID)
            </th>
            <th data-field="LoanID">
                @Html.DisplayNameFor(model => model.LoanID)
            </th>
            <th data-field="Agreement">
                @Html.DisplayNameFor(model => model.Agreement)
            </th>
            <th data-field="LoanStatus">
                @Html.DisplayNameFor(model => model.LoanStatus)
            </th>
            <th>
                ექსპერტი
            </th>
            <th data-field="LoanAmount">
                @Html.DisplayNameFor(model => model.LoanAmount)
            </th>
            <th data-field="LoanPurpose">
                @Html.DisplayNameFor(model => model.LoanPurpose)
            </th>
            <th data-field="LoanDailyInterestRate">
                @Html.DisplayNameFor(model => model.LoanDailyInterestRate)
            </th>
            <th data-field="LoanTermDays">
                @Html.DisplayNameFor(model => model.LoanTermDays)
            </th>
            <th data-field="NetworkDays">
                @Html.DisplayNameFor(model => model.NetworkDays)
            </th>
            @*<th data-field="AccountName">
                @Html.DisplayNameFor(model => model.DaysOfGrace)
            </th>*@
            <th data-field="LoanPenaltyRate">
                @Html.DisplayNameFor(model => model.LoanPenaltyRate)
            </th>
            <th data-field="EffectiveInterestRate">
                @Html.DisplayNameFor(model => model.EffectiveInterestRate)
            </th>
            <th data-field="AmountToBePaidAll">
                @Html.DisplayNameFor(model => model.AmountToBePaidAll)
            </th>
            <th data-field="AmountToBePaidDaily">
                @Html.DisplayNameFor(model => model.AmountToBePaidDaily)
            </th>
            <th data-field="AgreementDate">
                @Html.DisplayNameFor(model => model.AgreementDate)
            </th>
            <th data-field="LoanStartDate">
                @Html.DisplayNameFor(model => model.LoanStartDate)
            </th>
            <th data-field="LoanEndDate">
                @Html.DisplayNameFor(model => model.LoanEndDate)
            </th>
            <th data-field="LoanNotificationLetter">
                @Html.DisplayNameFor(model => model.LoanNotificationLetter)
            </th>
            <th data-field="ProblemManagerDate">
                @Html.DisplayNameFor(model => model.ProblemManagerDate)
            </th>
            <th data-field="ProblemManager">
                @Html.DisplayNameFor(model => model.ProblemManager)
            </th>
            <th data-field="DateOfEnforcement">
                @Html.DisplayNameFor(model => model.DateOfEnforcement)
            </th>
            <th data-field="CourtAndEnforcementFee">
                @Html.DisplayNameFor(model => model.CourtAndEnforcementFee)
            </th>
            @*<th data-field="action" data-formatter="actionFormatter" data-events="actionEvents"></th>*@
        </tr>
    </thead>
</table>

<script>
    $(table).filterable();
</script>