@model BusinessCredit.LoanManagementSystem.Web.Models.LstViewModel

@{
    ViewBag.Title = "DailyView";
}

<h2>DailyView</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form action="Index" method="post">

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DailyList.FirstOrDefault().DisplayDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyList.FirstOrDefault().AccountNumber)
            </th>                                  
            <th>                                   
                @Html.DisplayNameFor(model => model.DailyList.FirstOrDefault().LoanNumber)
            </th>                                  
            <th>                                   
                @Html.DisplayNameFor(model => model.DailyList.FirstOrDefault().Name)
            </th>                                  
            <th>                                  
                @Html.DisplayNameFor(model => model.DailyList.FirstOrDefault().LastName)
            </th>                                  
            <th>                                   
                @Html.DisplayNameFor(model => model.DailyList.FirstOrDefault().PrivateNumber)
            </th>                                 
            <th>                                   
                @Html.DisplayNameFor(model => model.DailyList.FirstOrDefault().BusinessAddress)
            </th>                                 
            <th>                                   
                @Html.DisplayNameFor(model => model.DailyList.FirstOrDefault().PhoneNumber)
            </th>                                  
            <th>                                   
                @Html.DisplayNameFor(model => model.DailyList.FirstOrDefault().PlannedPayment)
            </th>                                  
            <th>                                   
                @Html.DisplayNameFor(model => model.DailyList.FirstOrDefault().CurrentDebt)
            </th>                                 
            <th>                                   
                @Html.DisplayNameFor(model => model.DailyList.FirstOrDefault().WholeDebt)
            </th>                                  
            <th>                                   
                @Html.DisplayNameFor(model => model.DailyList.FirstOrDefault().Payment)
            </th>                                  
            <th>                                   
                @Html.DisplayNameFor(model => model.DailyList.FirstOrDefault().PaymentDate)
            </th>                                  
            <th>                                   
                @Html.DisplayNameFor(model => model.DailyList.FirstOrDefault().AgreementNumber)
            </th>                                  
            <th>                                   
                @Html.DisplayNameFor(model => model.DailyList.FirstOrDefault().OverdueAmount)
            </th>
            <th></th>
        </tr>


        @for (int i = 0; i < Model.DailyList.Count(); i++)
            {
            <tr>
                <td>
                    @Html.EditorFor(modelItem => Model.DailyList.ElementAt(i).DisplayDate)
                </td>
                <td>
                    @Html.EditorFor(modelItem => Model.DailyList.ElementAt(i).AccountNumber)
                </td>
                <td>
                    @Html.EditorFor(modelItem => Model.DailyList.ElementAt(i).LoanNumber)
                </td>
                <td>
                    @Html.EditorFor(modelItem => Model.DailyList.ElementAt(i).Name)
                </td>
                <td>
                    @Html.EditorFor(modelItem => Model.DailyList.ElementAt(i).LastName)
                </td>
                <td>
                    @Html.EditorFor(modelItem => Model.DailyList.ElementAt(i).PrivateNumber)
                </td>
                <td>
                    @Html.EditorFor(modelItem => Model.DailyList.ElementAt(i).BusinessAddress)
                </td>
                <td>
                    @Html.EditorFor(modelItem => Model.DailyList.ElementAt(i).PhoneNumber)
                </td>
                <td>
                    @Html.EditorFor(modelItem => Model.DailyList.ElementAt(i).PlannedPayment)
                </td>
                <td>
                    @Html.EditorFor(modelItem => Model.DailyList.ElementAt(i).CurrentDebt)
                </td>
                <td>
                    @Html.EditorFor(modelItem => Model.DailyList.ElementAt(i).WholeDebt)
                </td>
                <td>
                    @Html.EditorFor(modelItem => Model.DailyList.ElementAt(i).Payment)
                </td>
                <td>
                    @Html.EditorFor(modelItem => Model.DailyList.ElementAt(i).PaymentDate)
                </td>
                <td>
                    @Html.EditorFor(modelItem => Model.DailyList.ElementAt(i).AgreementNumber)
                </td>
                <td>
                    @Html.EditorFor(modelItem => Model.DailyList.ElementAt(i).OverdueAmount)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>

    <input type="submit" />
</form>