@model IEnumerable<BusinessCredit.LoanManagementSystem.Web.Models.DailyViewModel>

@{
    ViewBag.Title = "Indexer";
}

<h2>Indexer</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoanId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrivateNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlannedPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentDebt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WholeDebt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgreementNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverdueAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoanId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrivateNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlannedPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentDebt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WholeDebt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgreementNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverdueAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
