@model IList<BusinessCredit.LoanManagementSystem.Web.Models.DailyViewModel>

@{
    ViewBag.Title = "Daily";
}


<h2>Daily</h2>

<form action="~/DailyView/Index" method="post">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].LoanId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].PrivateNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].BusinessAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].PlannedPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].CurrentDebt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].WholeDebt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].PaymentOrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].PaymentOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].AgreementNumber)
            </th>
        </tr>


        @for (int i = 0; i < Model.Count; i++)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].AccountNumber)
                    @Html.HiddenFor(modelItem => Model[i].AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].LoanId)
                    @Html.HiddenFor(modelItem => Model[i].LoanId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Name)
                    @Html.HiddenFor(modelItem => Model[i].Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].LastName)
                    @Html.HiddenFor(modelItem => Model[i].LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].PrivateNumber)
                    @Html.HiddenFor(modelItem => Model[i].PrivateNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].BusinessAddress)
                    @Html.HiddenFor(modelItem => Model[i].BusinessAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].PhoneNumber)
                    @Html.HiddenFor(modelItem => Model[i].PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].PlannedPayment)
                    @Html.HiddenFor(model => model[i].PlannedPayment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].CurrentDebt)
                    @Html.HiddenFor(model => model[i].CurrentDebt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].WholeDebt)
                    @Html.HiddenFor(model => model[i].WholeDebt)
                </td>
                <td>
                    @Html.TextBoxFor(model => model[i].Payment)
                    @Html.HiddenFor(model => model[i].Payment)
                </td>
                <td>
                    @Html.TextBoxFor(model => model[i].PaymentOrderID)
                    @Html.HiddenFor(model => model[i].PaymentOrderID)
                </td>
                <td>
                    @Html.EnumDropDownListFor(model => model[i].PaymentOrder)
                    @Html.HiddenFor(model => model[i].PaymentOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].PaymentDate)
                    @Html.HiddenFor(model => model[i].PaymentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].AgreementNumber)
                    @Html.HiddenFor(model => model[i].AgreementNumber)
                </td>
            </tr>
            @Html.HiddenFor(model => model[i].LoanId)
}
    </table>

    @if (Model.Count() > 0)
    {
        <input id="subAll" type="checkbox" onchange="updateTempData()">
        <br />
        <input type="submit" />
    }
    
    <script>
        function updateTempData() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SetTempData", "DailyView")',
                data: '{ SubmitAll:' + subAll.checked + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });
        }
    </script>
</form>

