@model IList<BusinessCredit.LoanManagementSystem.Web.Models.DailyViewModel>

@{
    ViewBag.Title = "DailyView";
}


<h2>DailyView</h2>

                <script>
                    function redirectDaily() {
                        window.location.href = "?date=" + displayDate.value;
                    }
                </script>

<form action="Index" method="post">
    <input type="date" name="DisplayDate" id="displayDate"/>
    <button onclick="redirectDaily()" type="button">Go</button>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].DisplayDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].LoanNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].PrivateNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].BusinessAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].PlannedPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].CurrentDebt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].WholeDebt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].AgreementNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].OverdueAmount)
            </th>
            <th></th>
        </tr>


        @for (int i = 0; i < Model.Count; i++)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model[0].DisplayDate)
                    @Html.HiddenFor(modelItem => Model[i].DisplayDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].AccountNumber)
                    @Html.HiddenFor(modelItem => Model[i].AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].LoanNumber)
                    @Html.HiddenFor(modelItem => Model[i].LoanNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Name)
                    @Html.HiddenFor(modelItem => Model[i].Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].LastName)
                    @Html.HiddenFor(modelItem => Model[i].LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].PrivateNumber)
                    @Html.HiddenFor(modelItem => Model[i].PrivateNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].BusinessAddress)
                    @Html.HiddenFor(modelItem => Model[i].BusinessAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].PhoneNumber)
                    @Html.HiddenFor(modelItem => Model[i].PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].PlannedPayment)
                    @Html.HiddenFor(model => model[i].PlannedPayment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].CurrentDebt)
                    @Html.HiddenFor(model => model[i].CurrentDebt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].WholeDebt)
                    @Html.HiddenFor(model => model[i].WholeDebt)
                </td>
                <td>
                    @Html.TextBoxFor(model => model[i].Payment)
                    @Html.HiddenFor(model => model[i].Payment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].PaymentDate)
                    @Html.HiddenFor(model => model[i].PaymentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].AgreementNumber)
                    @Html.HiddenFor(model => model[i].AgreementNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].OverdueAmount)
                    @Html.HiddenFor(model => model[i].OverdueAmount)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
            @Html.HiddenFor(model => model[i].LoanId)
}
    </table>

    <input type="submit" />
</form>